*

body {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
h1 {
    text-align: center;
}
.columns, .rows, .table_width, .table_height {
    font-size: 12px;
    margin-left: 15px;
    width: 50px;
    position: absolute;
    right: 41%;
}
.checkbox{
    margin-left: 15px;
}
button {
    margin: 5px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
border {
    color: black;
}
table {
    border-collapse: collapse;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    margin: auto;
    text-align: center;
}
.qu {
    background-color: lavender;
    margin: auto;
    display: block;
    width: 22%;
    border-radius: 10px;
}
th {
    text-align: left;
}
td {
    padding: 5px;
}
input {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

/*-----------------------*/

td.jq-cell-selected {
    background: #4b75a4 !important;
    color: #ffffff;
}
td.busy {
    background: #F2364E;
    color: #fff;
}
.example_ignorecell tr td:nth-child(6),
.example_ignorecell tr td:nth-child(7) {
    font-weight: bold;
    color: #f00;
}
.panel_default button {
    padding: 2px 5px;
}
.example {
    margin-bottom: 15px;
}
.example_title {
    font-size: 18px;
    text-decoration: underline;
}
pre {
    display: inline-block;
    width: auto;
    padding: 7px;
    border: 1px solid #bcbcbc;
    background: #f5f5f5;
}
