*

body {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
h1 {
    text-align: center;
}
.columns, .rows, .table_width, .table_height {
    font-size: 12px;
    margin-left: 15px;
    width: 50px;
    position: absolute;
    right: 41%;
}
.checkbox{
    margin-left: 15px;
}
button {
    margin: 5px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
border {
    color: black;
}
table {
    border-collapse: collapse;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    margin: auto;
    text-align: center;
}
.qu {
    background-color: lavender;
    margin: auto;
    display: block;
    width: 22%;
    border-radius: 10px;
}
th {
    text-align: left;
}
td {
    padding: 5px;
}
input {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
